#head li {
    display: inline;
	padding-left: 8px;
}
#head1
{
	width: 100%;
    height: 6%;
    left: 0%;
    position: absolute;
    top: 0%;
	margin: 0;
    padding: 0;
	
}
#head{
	padding-left:14%;
	background-color: #7b6c6c;
	top: -30%;
    position: absolute;
    width:100%;
	margin-top: 11px;
	}
#btn
{
	
	background-color: transparent;
    color: white;
    border: none;
}	
#navigate
{
	position:absolute;
	top: 5%;
    left: 12%;
    width: 22%;
	
}

#navi ul li{
	list-style:none;
	padding:6px;
}
#navi ul li:before {
	 
	content: "\00BB \0020";
	     
}
#navi ul li a
{
	    text-decoration: none;
		    color: black;
}
#pages ul li
{
	list-style-image: url('dot1.gif');
}
#pages{
	    padding-left: 14px;
}
#search
{
	padding-left:15%;
}
#container
{
	    position: absolute;
    top: 7%;
    left: 32%;
    width: 60%;
    height: 100%;
}
.gp{
	
	font-size: 132%;
    font-weight: bolder;
	margin: 0;
    padding: 0;
}
.gp g{
	    color: #9a5137;
}
.gp k{
	opacity: 0.7;
}
.sc{
	    margin: 2px;
    padding: 2px;
	font-size: 80%;
}
.sc v{
	    color: #a02121;
}
.sc r{
	    color: #722626;
}
#op{
	width:75%;
}
#lt ul li{
	list-style-image: url('arrow1.png');
}
#lt{
	padding-top:12px;
}

blockquote {
   width:75%;
   
  background: #9d9999;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
#qt{
	width:90%;
}
#cc2{
	    padding-top: 26px;

		
		
		
		
/*this is separate*/	
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}	